* {
    touch-action: none; /* масштабирование при двойном тапе не происходит */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

html, body, a, p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 700px;
}

a {
    text-decoration: none; /* Убираем подчеркивание */
    color: rgba(255, 255, 255, 0.65);
}

a:hover, a:active {
    color: rgba(255, 255, 255, 0.65);
}

p, button {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /*background-image: url("design/masters/123.png");*/
    background-image: url("../../design/reference/test.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

button {
    border: none; /* Убираем границу */
    outline: none; /* Убираем обводку при фокусе */
    background: none; /* Убираем фон */
    cursor: pointer; /* Добавляем указатель */
}

.container {
    width: 90%;
    height: 95%;
    border-radius: 1em;
    margin: 1em 1em 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.job-info {
    width: 100%;
    height: 63%;
    background-color: rgba(53, 53, 53, 0.7);
    border-radius: 2em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: 18%;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.task_date_type {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.task_date {
    width: 100%;
    height: 3.5em;
    background-color: #4c4c4c;
    border-radius: 2em;
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center;
}

.task_date p {
    font-size: 2em;
    color: white;
}

.task_type {
    width: 80%;
    height: 2em;
    background-color: #F66A1C;
    border-radius: 0 0 2em 2em;
    text-align: center;
}

.task_type p {
    font-size: 1.5em;
    color: white;
}

.job-details {
    width: 90%;
    height: 55%;
    /*background-color: #737373;*/
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.salary {
    font-size: 3em;
}

.hourly-rate {
    font-size: 1.3em;
}

.job-description {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.job-description p {
    font-size: 1.5em;
    padding-bottom: 15px;
}

.job-description svg {
    width: 50px;
    margin: 0 20px 0 0;
    fill: #F66A1C;
}

.location {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.location p {
    width: 100%;
    font-size: 1.5em;
}

.location svg {
    width: 30px;
    margin: 0 20px 0 0;
    fill: #F66A1C;
}

.go-button {
    width: 100%;
    height: 15%;
    background-color: #F66A1C;
    border-radius: 2em;
    font-size: 2.5em;
}

.navigation {
    width: 100%;
    height: 20%;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    width: 45%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.7);
    border-radius: 2em;
}

.nav-button svg {
    height: 80%;
    width: 80%;
    fill: #F66A1C;
}

.filters {
    width: 100%;
    height: 10%;
    background-color: rgba(53, 53, 53, 0.7);
    border-radius: 2em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.worker-count-button {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: relative;
    margin: 0.5em;
}

.worker-count-button svg {
    height: 100%;
    width: 100%;
    fill: #F66A1C;
    position: absolute;
}

.worker-count-button p {
    position: sticky;
    color: white;
    font-size: 2.5em;
    margin: 10px auto;
    z-index: 2;
    text-align: center;
}

.urgent-switch-button {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: relative;
    margin: 6px;
    border: 4px solid;
    color: #F66A1C;
}

.urgent-switch-button svg {
    padding: 7px;
    height: 80%;
    width: 80%;
    fill: white;
}

.rate-control {
    height: 100%;
    width: 40%;
    border-radius: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.rate-amount {
    height: 100%;
    width: 70%;
    position: relative;
}

.rate-amount svg {
    height: 100%;
    width: 100%;
    fill: #F66A1C;
    position: absolute;
}

.rate-amount p {
    color: white;
    position: sticky;
    font-size: 2em;
    margin: 0.5em auto;
    z-index: 2;
    text-align: center;
}

.rate-button {
    height: 100%;
    width: 30px;
    font-size: 2em;
    color: #ffffff;
    background-color: #F66A1C;
}

.rb-left {
    border-radius: 15px 0 0 15px;
}

.rb-right {
    border-radius: 0 15px 15px 0;
}